# The Three Pandas Notebook: Cyrill Adrian Wicaksono, Gregorius Samuel Hutahean, Gusti Faturrahman Rais

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')

In [3]:
for column in df.columns:
    print(f"{column} has {df[column].nunique()} unique values")

Id has 54937 unique values
Make has 21 unique values
Vehicle Class has 23 unique values
Engine Size(L) has 49 unique values
Cylinders has 14 unique values
Transmission has 32 unique values
Fuel Type has 12 unique values
Fuel Consumption City has 1791 unique values
Fuel Consumption Hwy has 1234 unique values
Fuel Consumption Comb has 9938 unique values
CO2 Emissions(g/km) has 414 unique values

In [4]:
df.isnull().sum()

Id                          0
Make                        0
Vehicle Class             539
Engine Size(L)           1393
Cylinders                1198
Transmission              410
Fuel Type                 546
Fuel Consumption City    1568
Fuel Consumption Hwy     1701
Fuel Consumption Comb    1674
CO2 Emissions(g/km)         0
dtype: int64

In [5]:
### Take a look of the unique values of each categorical column

In [6]:
df['Make'].unique(), df['Make'].value_counts()

(array(['MITSU', 'TOYOTI', 'MATSUDA', 'CHEVO', 'DOGE', 'BMV', 'LECUS',
        'KIO', 'FOLD', 'JIPU', 'NIRRAN', 'CADILUXE', 'FOLKSWA', 'BARUSU',
        'GONDA', 'LAND CRAWLER', 'RYUNDAI', 'TOLVO', 'FIAR', 'ASURA',
        'LAMBOGI'], dtype=object),
 FOLD            7233
 CHEVO           6621
 BMV             5934
 TOYOTI          3750
 NIRRAN          2929
 JIPU            2868
 DOGE            2830
 KIO             2579
 GONDA           2494
 RYUNDAI         2426
 FOLKSWA         2248
 MATSUDA         2077
 LECUS           2065
 CADILUXE        1836
 BARUSU          1510
 TOLVO           1396
 MITSU           1083
 LAND CRAWLER     929
 ASURA            848
 FIAR             803
 LAMBOGI          478
 Name: Make, dtype: int64)

In [7]:
df['Vehicle Class'].unique(), df['Vehicle Class'].value_counts()

(array(['SUV - SMALL', 'PICKUP TRUCK - SMALL', 'COMPACT',
        'VAN - PASSENGER', 'MID-SIZE', 'SUV - STANDARD',
        'STATION WAGON - SMALL', 'FULL-SIZE', 'TWO-SEATER',
        'PICKUP TRUCK - STANDARD', 'SUBCOMPACT', nan,
        'STATION WAGON - MID-SIZE', 'MINICOMPACT', 'MINIVAN',
        'not-available', 'not-recorded', 'SPECIAL PURPOSE VEHICLE',
        'missing', 'unestablished', 'na', 'unknown', 'unspecified',
        'VAN - CARGO'], dtype=object),
 SUV - SMALL                 11050
 COMPACT                      9102
 MID-SIZE                     8383
 SUV - STANDARD               4683
 FULL-SIZE                    4037
 PICKUP TRUCK - STANDARD      3820
 SUBCOMPACT                   3591
 STATION WAGON - SMALL        2331
 TWO-SEATER                   1623
 PICKUP TRUCK - SMALL         1324
 MINIVAN                       695
 MINICOMPACT                   668
 SPECIAL PURPOSE VEHICLE       589
 VAN - PASSENGER               483
 not-recorded                  372
 STATION WAGON - MID-SIZE      365
 na                            220
 not-available                 189
 unspecified                   189
 unknown                       188
 unestablished                 187
 missing                       167
 VAN - CARGO                   142
 Name: Vehicle Class, dtype: int64)

In [8]:
df['Engine Size(L)'].unique(), df['Engine Size(L)'].value_counts()

(array(['1.5', 'not-available', '2.0', 'unknown', '1.8', '2.4', '3.5',
        '2.7', '1.6', 'na', '1.2', '2.5', '3.2', '5.0', '8.4', '1.4',
        '3.8', 'unestablished', '6.2', nan, '4.4', '3.0', '3.6', '5.7',
        '5.2', '6.4', '2.3', 'not-recorded', '3.3', '5.3', 'missing',
        '6.5', '1.0', '4.0', '3.7', '1.3', 'unspecified', '4.6', '4.8',
        '5.6', '2.8', '6.0', '4.2', '4.3', '2.2', '6.6', '5.4', '3.4',
        '5.8', '6.8'], dtype=object),
 2.0              10510
 3.5               4837
 2.5               3630
 3.0               3477
 3.6               3429
 2.4               3130
 1.6               2296
 1.8               2017
 1.4               1919
 1.5               1568
 5.0               1547
 5.3               1433
 4.4               1351
 6.2               1229
 not-recorded       980
 3.3                798
 2.7                753
 5.7                750
 3.7                590
 unspecified        543
 not-available      485
 4.0                478
 6.4                477
 unknown            474
 unestablished      473
 2.3                472
 missing            462
 na                 454
 3.2                363
 4.6                332
 5.2                279
 4.3                256
 1.2                256
 5.6                223
 3.8                222
 6.5                205
 6.0                157
 2.8                155
 1.0                147
 1.3                 94
 5.4                 74
 6.6                 46
 8.4                 40
 3.4                 40
 4.8                 39
 4.2                 25
 2.2                 11
 5.8                 10
 6.8                  8
 Name: Engine Size(L), dtype: int64)

In [9]:
df['Transmission'].unique(), df['Transmission'].value_counts()

(array(['AV8', 'A5', 'AS6', 'A6', 'M6', 'M5', 'A9', 'AS8', 'AV', 'AM6',
        'AS10', 'A8', 'AS9', 'unestablished', 'AM8', 'AM7', 'AV7', 'A4',
        'not-recorded', 'AV6', 'missing', 'unspecified', 'AV10', 'AS5',
        'M7', 'A10', 'na', 'AS7', 'not-available', 'unknown', nan, 'A7',
        'AM9'], dtype=object),
 AS6              12236
 AS8               8335
 M6                7697
 A6                5244
 AV                3163
 A8                2764
 M5                2081
 AS10              1848
 AM7               1473
 A9                1452
 AV6               1230
 AV7               1163
 AM6               1046
 A5                 928
 AS9                673
 A4                 576
 AV8                352
 AS7                308
 AS5                281
 not-recorded       253
 A10                156
 AM8                153
 na                 147
 missing            145
 not-available      137
 AV10               135
 unspecified        133
 unestablished      129
 unknown            129
 M7                 107
 AM9                 33
 A7                  20
 Name: Transmission, dtype: int64)

In [10]:
df['Fuel Type'].unique(), df['Fuel Type'].value_counts()

(array(['X', 'Z', nan, 'E', 'missing', 'not-recorded', 'not-available',
        'D', 'unspecified', 'unknown', 'na', 'unestablished', 'N'],
       dtype=object),
 X                33897
 Z                15307
 E                 2680
 D                 1102
 not-recorded       330
 unspecified        214
 unknown            189
 unestablished      170
 missing            168
 na                 163
 not-available      162
 N                    9
 Name: Fuel Type, dtype: int64)

In [11]:
df['Cylinders'].unique(), df['Cylinders'].value_counts()

(array(['4.0', '6.0', '8.0', 'unknown', 'na', '3.0', '10.0',
        'not-recorded', 'unspecified', '12.0', nan, '5.0', 'missing',
        'not-available', 'unestablished'], dtype=object),
 4.0              26391
 6.0              15088
 8.0               7831
 not-recorded       819
 missing            441
 unestablished      431
 unspecified        423
 na                 409
 unknown            403
 not-available      399
 3.0                348
 12.0               273
 10.0               267
 5.0                216
 Name: Cylinders, dtype: int64)

# TRAIN

## Handles Categorical Data Missing Values
### Create a rule based system to try to predict the missing values for the Categorical Features

In [12]:
cat_columns =[column for column in df.columns if df[column].nunique() < 100]
cat = pd.DataFrame(df[cat_columns])

cat.head()

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type
0,MITSU,SUV - SMALL,1.5,4.0,AV8,X
1,TOYOTI,PICKUP TRUCK - SMALL,not-available,6.0,A5,X
2,MATSUDA,COMPACT,2.0,4.0,AS6,X
3,CHEVO,VAN - PASSENGER,unknown,8.0,A6,X
4,TOYOTI,COMPACT,1.8,4.0,M6,X

In [13]:
#Create list of unique value of each categories
unique_eclass = ['3.5', '5.3', '4.4',  '3.0', '1.8', '2.0',
        '3.6', '2.5','2.4', '2.3', '1.4', '1.6', '5.0'
        '1.3', '6.2', '4.8', '2.7', '6.0', '3.2', '6.5', '5.7', '3.7',
        '1.2', '4.0', '3.3', '1.5', '5.2',
        '3.8', '2.8', '4.6', '6.4',
        '4.3', '6.6', '5.4', '1.0', '5.6', '5.8', '8.4', '3.4', '4.2',
        '6.8', '2.2']

unique_cyl = ['6.0', '4.0', '8.0' '12.0','3.0', '5.0', '10.0']

unique_vclass = ['PICKUP TRUCK - STANDARD', 'SUBCOMPACT', 'SUV - SMALL',
        'MINICOMPACT', 'COMPACT', 'FULL-SIZE', 'SUV - STANDARD', 'MINIVAN',
        'STATION WAGON - SMALL', 'PICKUP TRUCK - SMALL',
        'TWO-SEATER', 'STATION WAGON - MID-SIZE', 'MID-SIZE',
        'SPECIAL PURPOSE VEHICLE', 'VAN - PASSENGER', 'VAN - CARGO']

unique_make = ['FOLD', 'CHEVO', 'BMV', 'KIO', 'BARUSU', 'LECUS', 'GONDA',
        'LAND CRAWLER', 'FOLKSWA', 'TOYOTI', 'JIPU', 'TOLVO', 'ASURA',
        'NIRRAN', 'FIAR', 'DOGE', 'CADILUXE', 'MATSUDA', 'MITSU',
        'RYUNDAI', 'LAMBOGI']

unique_ftype = ['X', 'E', 'Z', 'D', 'N']

unique_trans = ['A6', 'M6', 'AS6', 'AV7', 'AS8',
        'A9', 'AV', 'AV8', 'M5', 'A8', 'AV6', 'AS10',
        'AM7', 'A4', 'A5', 'AS7', 'AM6', 'AS5', 'AS9', 'AM9', 'AV10', 'AM8', 'M7',
        'A10', 'A7']

In [14]:
def fillna_temp(input, list):
    if not input or input not in list:
        return 'Null'
    else:
        return input
    
cat['Fuel Type'] = cat['Fuel Type'].apply(lambda x : fillna_temp(x, unique_ftype))
cat['Engine Size(L)'] = cat['Engine Size(L)'].apply(lambda x : fillna_temp(x, unique_eclass))
cat['Transmission'] = cat['Transmission'].apply(lambda x : fillna_temp(x, unique_trans))
cat['Vehicle Class'] = cat['Vehicle Class'].apply(lambda x: fillna_temp(x, unique_vclass))
cat['Make'] = cat['Make'].apply(lambda x : fillna_temp(x, unique_make))
cat['Cylinders'] = cat['Cylinders'].apply(lambda x : fillna_temp(x, unique_cyl))

In [15]:
for col in cat.columns:
    print(cat[col].unique())
    print('========================')

['MITSU' 'TOYOTI' 'MATSUDA' 'CHEVO' 'DOGE' 'BMV' 'LECUS' 'KIO' 'FOLD'
 'JIPU' 'NIRRAN' 'CADILUXE' 'FOLKSWA' 'BARUSU' 'GONDA' 'LAND CRAWLER'
 'RYUNDAI' 'TOLVO' 'FIAR' 'ASURA' 'LAMBOGI']
========================
['SUV - SMALL' 'PICKUP TRUCK - SMALL' 'COMPACT' 'VAN - PASSENGER'
 'MID-SIZE' 'SUV - STANDARD' 'STATION WAGON - SMALL' 'FULL-SIZE'
 'TWO-SEATER' 'PICKUP TRUCK - STANDARD' 'SUBCOMPACT' 'Null'
 'STATION WAGON - MID-SIZE' 'MINICOMPACT' 'MINIVAN'
 'SPECIAL PURPOSE VEHICLE' 'VAN - CARGO']
========================
['1.5' 'Null' '2.0' '1.8' '2.4' '3.5' '2.7' '1.6' '1.2' '2.5' '3.2' '8.4'
 '1.4' '3.8' '6.2' '4.4' '3.0' '3.6' '5.7' '5.2' '6.4' '2.3' '3.3' '5.3'
 '6.5' '1.0' '4.0' '3.7' '4.6' '4.8' '5.6' '2.8' '6.0' '4.2' '4.3' '2.2'
 '6.6' '5.4' '3.4' '5.8' '6.8']
========================
['4.0' '6.0' 'Null' '3.0' '10.0' '5.0']
========================
['AV8' 'A5' 'AS6' 'A6' 'M6' 'M5' 'A9' 'AS8' 'AV' 'AM6' 'AS10' 'A8' 'AS9'
 'Null' 'AM8' 'AM7' 'AV7' 'A4' 'AV6' 'AV10' 'AS5' 'M7' 'A10' 'AS7' 'A7'
 'AM9']
========================
['X' 'Z' 'Null' 'E' 'D' 'N']
========================

In [16]:
cat.head()

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type
0,MITSU,SUV - SMALL,1.5,4.0,AV8,X
1,TOYOTI,PICKUP TRUCK - SMALL,Null,6.0,A5,X
2,MATSUDA,COMPACT,2.0,4.0,AS6,X
3,CHEVO,VAN - PASSENGER,Null,Null,A6,X
4,TOYOTI,COMPACT,1.8,4.0,M6,X

### Vehicle Class 
Basis: assumption that one brand of car tends to create one vehicle type more than the other. Example: Lamborgini creates more two seater than other Vehicle Class (like PICKUP TRUCK, etc). Hence it is reasonable to predict the missing values with the most 'popular' car type produced by its brand

In [17]:
cat.isnull().sum()

Make              0
Vehicle Class     0
Engine Size(L)    0
Cylinders         0
Transmission      0
Fuel Type         0
dtype: int64

Question: what is the maximum vehicle class category per car manufacturer

In [18]:
grouped = cat.groupby(['Make', 'Vehicle Class'])['Vehicle Class'].count()
max_vc_per_make = grouped.groupby('Make').idxmax()

#Test the result
max_vc_per_make['CHEVO']

('CHEVO', 'PICKUP TRUCK - STANDARD')

In [19]:
#There are these many missing values inside the Vehicle class 
cat['Vehicle Class'].isnull().sum()

0

In [20]:
def fill_vc(make, vc):
    if vc == 'Null':
        return max_vc_per_make[make][1]
    else:
        return vc 

cat['Vehicle Class'] = cat.apply(lambda x: fill_vc(x['Make'], x['Vehicle Class']), axis=1)

In [21]:
cat['Vehicle Class'].isnull().sum()

0

In [22]:
print(cat.columns)

Index(['Make', 'Vehicle Class', 'Engine Size(L)', 'Cylinders', 'Transmission',
       'Fuel Type'],
      dtype='object')

### Fuel Type 
I think it is common sense to say that a Vehicle Class with the same brand are more likely to have the same Fuel Type. Grouped the fuel type data based on Make and Vehicle Class, then choose 
the definite fuel type that is possible between the set

In [23]:
cat['Fuel Type'].isnull().sum()

0

In [24]:
grouped = cat.groupby(['Make', 'Vehicle Class', 'Fuel Type'])['Fuel Type'].count()

grouped_fuel_type = grouped.groupby(['Make', 'Vehicle Class']).idxmax()

def fill_ft(make, vc, ft):
    fuel_types_per_mvc = grouped_fuel_type[make][vc][2]
    if ft == 'Null':
        return fuel_types_per_mvc
    else:
        return ft
    
cat['Fuel Type'] = cat.apply(lambda x: fill_ft(x['Make'], x['Vehicle Class'], x['Fuel Type']), axis=1)

In [25]:
grouped = cat.groupby(['Make', 'Vehicle Class', 'Fuel Type'])['Fuel Type'].count()

grouped_fuel_type = grouped.groupby(['Make', 'Vehicle Class']).idxmax()

grouped_fuel_type['ASURA']['COMPACT'][2]

'Z'

In [26]:
cat['Fuel Type'].isnull().sum()

0

In [27]:
print(cat.columns)

Index(['Make', 'Vehicle Class', 'Engine Size(L)', 'Cylinders', 'Transmission',
       'Fuel Type'],
      dtype='object')

### Engine Size and Cylinders
The underlying basis of the rule based is that engine size and cylinder have a strong correlation, hence we can fill the missing values of one value with respect to the other

In [28]:
grouped = pd.DataFrame(cat[['Engine Size(L)', 'Cylinders', 'Transmission']])

In [29]:
def change_to_float(x):
    try:
        return float(x) 
    except ValueError:
        return 0.0
    


cat['Engine Size(L)'] = cat['Engine Size(L)'].apply(change_to_float)
cat['Cylinders'] = cat['Cylinders'].apply(change_to_float)

In [30]:
grouped_by_es = cat.groupby(['Engine Size(L)', 'Cylinders'])['Cylinders'].count()
max_cyl_per_es = grouped_by_es.groupby('Engine Size(L)').idxmax()

max_cyl_per_es

Engine Size(L)
0.0     (0.0, 0.0)
1.0     (1.0, 3.0)
1.2     (1.2, 3.0)
1.4     (1.4, 4.0)
1.5     (1.5, 4.0)
1.6     (1.6, 4.0)
1.8     (1.8, 4.0)
2.0     (2.0, 4.0)
2.2     (2.2, 4.0)
2.3     (2.3, 4.0)
2.4     (2.4, 4.0)
2.5     (2.5, 4.0)
2.7     (2.7, 6.0)
2.8     (2.8, 4.0)
3.0     (3.0, 6.0)
3.2     (3.2, 6.0)
3.3     (3.3, 6.0)
3.4     (3.4, 6.0)
3.5     (3.5, 6.0)
3.6     (3.6, 6.0)
3.7     (3.7, 6.0)
3.8     (3.8, 6.0)
4.0     (4.0, 6.0)
4.2     (4.2, 0.0)
4.3     (4.3, 6.0)
4.4     (4.4, 0.0)
4.6     (4.6, 0.0)
4.8     (4.8, 0.0)
5.2    (5.2, 10.0)
5.3     (5.3, 0.0)
5.4     (5.4, 0.0)
5.6     (5.6, 0.0)
5.7     (5.7, 0.0)
5.8     (5.8, 0.0)
6.0     (6.0, 0.0)
6.2     (6.2, 0.0)
6.4     (6.4, 0.0)
6.5     (6.5, 0.0)
6.6     (6.6, 0.0)
6.8    (6.8, 10.0)
8.4    (8.4, 10.0)
Name: Cylinders, dtype: object

In [31]:
grouped = cat.groupby(['Cylinders', 'Engine Size(L)'])['Engine Size(L)'].count()
max_es_per_cyl= grouped.groupby('Cylinders').idxmax()

max_es_per_cyl

Cylinders
0.0      (0.0, 0.0)
3.0      (3.0, 1.2)
4.0      (4.0, 2.0)
5.0      (5.0, 2.5)
6.0      (6.0, 3.5)
10.0    (10.0, 5.2)
Name: Engine Size(L), dtype: object

In [32]:
cat[['Engine Size(L)', 'Cylinders']].isnull().sum(), cat['Engine Size(L)'].unique(), cat['Cylinders'].unique()

(Engine Size(L)    0
 Cylinders         0
 dtype: int64,
 array([1.5, 0. , 2. , 1.8, 2.4, 3.5, 2.7, 1.6, 1.2, 2.5, 3.2, 8.4, 1.4,
        3.8, 6.2, 4.4, 3. , 3.6, 5.7, 5.2, 6.4, 2.3, 3.3, 5.3, 6.5, 1. ,
        4. , 3.7, 4.6, 4.8, 5.6, 2.8, 6. , 4.2, 4.3, 2.2, 6.6, 5.4, 3.4,
        5.8, 6.8]),
 array([ 4.,  6.,  0.,  3., 10.,  5.]))

In [33]:
def fill_es(cyl, es):
    if pd.isnull(es):
        if cyl == 'Null':
            return max_es_per_cyl[0.0][1]
        return max_es_per_cyl[cyl][1]
    else:
        return es
    
def fill_cyl(es, cyl):
    if pd.isnull(cyl):
        if es == 'Null':
            return max_cyl_per_es[0.0][1]
        return max_cyl_per_es[es][1]
    else:
        return cyl

    
cat['Engine Size(L)'] = cat.apply(lambda x: fill_es(x['Cylinders'], x['Engine Size(L)']), axis=1)
cat['Cylinders'] = cat.apply(lambda x: fill_cyl(x['Engine Size(L)'], x['Cylinders']), axis=1)

In [34]:
cat[['Engine Size(L)', 'Cylinders']].isnull().sum()

Engine Size(L)    0
Cylinders         0
dtype: int64

### Transmission
Encode every other categorical variable and see what is the variable that have the biggest correlation to Transmission (no high correlation). Just convert to 0 to the NaN values along with the other 'uspecified' and friends entry

In [35]:
grouped = cat.groupby(['Make', 'Vehicle Class', 'Transmission'])['Transmission'].count()

grouped_trans = grouped.groupby(['Make', 'Vehicle Class']).idxmax()

def fill_trans(make, vc, trans):
    trans_per_mvc = grouped_trans[make][vc][2]
    if trans == 'Null':
        return trans_per_mvc
    else:
        return trans

cat['Transmission'] = cat.apply(lambda x: fill_ft(x['Make'], x['Vehicle Class'], x['Transmission']), axis=1)

In [36]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54937 entries, 0 to 54936
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Make            54937 non-null  object
 1   Vehicle Class   54937 non-null  object
 2   Engine Size(L)  54937 non-null  float64
 3   Cylinders       54937 non-null  float64
 4   Transmission    54937 non-null  object
 5   Fuel Type       54937 non-null  object
dtypes: float64(2), object(4)
memory usage: 2.5+ MB

### Encode All the Categorical Features

In [37]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54937 entries, 0 to 54936
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Make            54937 non-null  object
 1   Vehicle Class   54937 non-null  object
 2   Engine Size(L)  54937 non-null  float64
 3   Cylinders       54937 non-null  float64
 4   Transmission    54937 non-null  object
 5   Fuel Type       54937 non-null  object
dtypes: float64(2), object(4)
memory usage: 2.5+ MB

In [38]:
#Create list of unique value of each categories

unique_vclass = ['PICKUP TRUCK - STANDARD', 'SUBCOMPACT', 'SUV - SMALL',
        'MINICOMPACT', 'COMPACT', 'FULL-SIZE', 'SUV - STANDARD', 'MINIVAN',
        'STATION WAGON - SMALL', 'PICKUP TRUCK - SMALL',
        'TWO-SEATER', 'STATION WAGON - MID-SIZE', 'MID-SIZE',
        'SPECIAL PURPOSE VEHICLE', 'VAN - PASSENGER', 'VAN - CARGO']

unique_make = ['FOLD', 'CHEVO', 'BMV', 'KIO', 'BARUSU', 'LECUS', 'GONDA',
        'LAND CRAWLER', 'FOLKSWA', 'TOYOTI', 'JIPU', 'TOLVO', 'ASURA',
        'NIRRAN', 'FIAR', 'DOGE', 'CADILUXE', 'MATSUDA', 'MITSU',
        'RYUNDAI', 'LAMBOGI']

unique_ftype = ['X', 'E', 'Z', 'D', 'N']

unique_trans = ['A6', 'M6', 'AS6', 'AV7', 'AS8',
        'A9', 'AV', 'AV8', 'M5', 'A8', 'AV6', 'AS10',
        'AM7', 'A4', 'A5', 'AS7', 'AM6', 'AS5',
        'na', 'AS9', '-1', 'AM9', 'AV10', 'AM8', 'M7',
        'A10', 'A7']

cat.head()

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type
0,MITSU,SUV - SMALL,1.5,4.0,AV8,X
1,TOYOTI,PICKUP TRUCK - SMALL,0.0,6.0,A5,X
2,MATSUDA,COMPACT,2.0,4.0,AS6,X
3,CHEVO,VAN - PASSENGER,0.0,0.0,A6,X
4,TOYOTI,COMPACT,1.8,4.0,M6,X

In [39]:
def encode_categorical(input, list):
    if input in list:
        return float(list.index(input))
    else:
        return -1.0

In [40]:
cat['Vehicle Class'] = cat['Vehicle Class'].apply(lambda x: encode_categorical(x, unique_vclass))
cat['Fuel Type'] = cat['Fuel Type'].apply(lambda x: encode_categorical(x, unique_ftype))
cat['Make'] = cat['Make'].apply(lambda x: encode_categorical(x, unique_make))
cat['Transmission'] = cat['Transmission'].apply(lambda x: encode_categorical(x, unique_trans))

cat.head()

   Make  Vehicle Class  Engine Size(L)  Cylinders  Transmission  Fuel Type
0  18.0            2.0             1.5        4.0           7.0        0.0
1   9.0            9.0             0.0        6.0          14.0        0.0
2  17.0            4.0             2.0        4.0           2.0        0.0
3   1.0           14.0             0.0        0.0           0.0        0.0
4   9.0            4.0             1.8        4.0           1.0        0.0

In [41]:
cat['Make'].nunique()

21

In [42]:
df['Make'] = cat['Make']
df['Vehicle Class'] = cat['Vehicle Class']
df['Engine Size(L)'] = cat['Engine Size(L)']
df['Transmission'] = cat['Transmission']
df['Fuel Type'] = cat['Fuel Type']
df['Cylinders'] = cat['Cylinders']

In [43]:
df.head(), df.isnull().sum()

(   Id  Make  Vehicle Class  Engine Size(L)  Cylinders  Transmission  \
 0   1  18.0            2.0             1.5        4.0           7.0
 1   2   9.0            9.0             0.0        6.0          14.0
 2   3  17.0            4.0             2.0        4.0           2.0
 3   4   1.0           14.0             0.0        0.0           0.0
 4   5   9.0            4.0             1.8        4.0           1.0

    Fuel Type Fuel Consumption City     Fuel Consumption Hwy  \
 0        0.0             8.40 km/L              0.72 L/10km
 1        0.0         7.25 km per L             9.70 L/100km
 2        0.0             9.80 km/L           38.70 mpg Imp.
 3        0.0           1.73 L/10km  11.70 liters per 100 km
 4        0.0          8.10 L/100km           35.76 mpg Imp.

      Fuel Consumption Comb  CO2 Emissions(g/km)
 0              0.98 L/10km                  208
 1            11.96 L/100km                  325
 2           31.76 mpg Imp.                  170
 3  14.78 liters per 100 km                  362
 4   8.01 liters per 100 km                  180  ,
 Id                          0
 Make                        0
 Vehicle Class               0
 Engine Size(L)              0
 Cylinders                   0
 Transmission                0
 Fuel Type                   0
 Fuel Consumption City    1568
 Fuel Consumption Hwy     1701
 Fuel Consumption Comb    1674
 CO2 Emissions(g/km)         0
 dtype: int64)

## Handles Numerical Values

In [44]:
import re
def recognize_format_fuelX(input_data):
    types_counter = []


    mpg_to_l_per_100km = 235.214583
    l_per_10km_to_l_per_100km = 10

    for val in input_data:
        if isinstance(val, str):
            if re.search(r'(L/100km|L/100 km|liters per 100 km)$', val):
                value = float(re.search(r'\d+.\d+', val).group())
                if value != 0:  # Avoid division by zero
                    types_counter.append(100 / value)
                else:
                    types_counter.append(np.nan)

            elif re.search(r'(km/L|km per L)$', val):
                value = float(re.search(r'\d+.\d+', val).group())
                types_counter.append(value * 100)

            elif re.search(r'(mpg Imp.|MPG (AS))$', val, re.IGNORECASE):
                value = float(re.search(r'\d+.\d+', val).group())
                if value != 0: 
                    types_counter.append(mpg_to_l_per_100km / value)
                else:
                    types_counter.append(np.nan)
            elif re.search(r'(\d+(.\d+)?\sL/10\skm)$', val):
                value = float(re.search(r'\d+(.\d+)?', val).group())
                if value != 0:
                    types_counter.append(1000 / (value / l_per_10km_to_l_per_100km))
                else:
                    types_counter.append(np.nan)
            elif val == 'zero':
                types_counter.append(0)

            else:
                types_counter.append(np.nan)

        else:
            types_counter.append(np.nan)

    return types_counter
fuel_consumption_column = df['Fuel Consumption City']
converted_data = recognize_format_fuelX(fuel_consumption_column)
fuel_consumption_column = df['Fuel Consumption Hwy']
converted_data1 = recognize_format_fuelX(fuel_consumption_column)
fuel_consumption_column = df['Fuel Consumption Comb']
converted_data2 = recognize_format_fuelX(fuel_consumption_column)

df['Fuel Consumption City'] = converted_data
df['Fuel Consumption Hwy'] = converted_data1
df['Fuel Consumption Comb'] = converted_data2

### Step 2: Compute missing values in Fuel Consumption Comb using the formula

In [45]:
missing_comb_mask = df['Fuel Consumption Comb'].isnull()
df.loc[missing_comb_mask, 'Fuel Consumption Comb'] = 0.55 * df['Fuel Consumption City'] + 0.45 * df['Fuel Consumption Hwy']

### Step 3: Fill in missing values in Fuel Consumption City and Fuel Consumption Hwy

In [46]:
missing_city_mask = df['Fuel Consumption City'].isnull()
missing_hwy_mask = df['Fuel Consumption Hwy'].isnull()

### Calculate missing values in Fuel Consumption City and Hwy using Comb and the other known value

In [47]:
df.loc[missing_city_mask, 'Fuel Consumption City'] = (df.loc[missing_city_mask, 'Fuel Consumption Comb'] - 0.45 * df.loc[missing_city_mask, 'Fuel Consumption Hwy']) / 0.55
df.loc[missing_hwy_mask, 'Fuel Consumption Hwy'] = (df.loc[missing_hwy_mask, 'Fuel Consumption Comb'] - 0.55 * df.loc[missing_hwy_mask, 'Fuel Consumption City']) / 0.45

### Drop rows with any remaining NaN values in these columns

In [48]:
mean_city = df['Fuel Consumption City'].mean()
mean_hwy = df['Fuel Consumption Hwy'].mean()
mean_comb = df['Fuel Consumption Comb'].mean()

# Fill null values with the means
df['Fuel Consumption City'].fillna(mean_city, inplace=True)
df['Fuel Consumption Hwy'].fillna(mean_hwy, inplace=True)
df['Fuel Consumption Comb'].fillna(mean_comb, inplace=True)

In [49]:
df.head()

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km)
0,1,18.0,2.0,1.5,4.0,7.0,0.0,840.000000,381.904671,327.125916,208
1,2,9.0,9.0,0.0,6.0,14.0,0.0,725.000000,10.309278,8.361204,325
2,3,17.0,4.0,2.0,4.0,2.0,0.0,980.000000,6.077896,7.406001,170
3,4,1.0,14.0,0.0,0.0,0.0,0.0,5.308629,8.547009,6.765900,362
4,5,9.0,4.0,1.8,4.0,1.0,0.0,12.345679,6.577589,12.484395,180

In [50]:
df.isnull().sum()

Id                       0
Make                     0
Vehicle Class            0
Engine Size(L)           0
Cylinders                0
Transmission             0
Fuel Type                0
Fuel Consumption City    0
Fuel Consumption Hwy     0
Fuel Consumption Comb    0
CO2 Emissions(g/km)      0
dtype: int64

## Modelling

In [51]:
X = df.iloc[:, :-1] 
y = df.iloc[:, -1]
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [52]:
print(X_train)

          Id  Make  Vehicle Class  Engine Size(L)  Cylinders  Transmission  \
34013  34014   2.0            6.0             4.4        0.0           4.0
37209  37210   9.0           12.0             1.8        4.0          -1.0
3022    3023  14.0            8.0             1.4        4.0           0.0
26500  26501   2.0            4.0             3.0        6.0          12.0
18897  18898   2.0            4.0             2.0        4.0           4.0
...      ...   ...            ...             ...        ...           ...
23098  23099  15.0            5.0             5.7        0.0          14.0
37132  37133  18.0            2.0             2.0        4.0          10.0
12045  12046  18.0            4.0             0.0        4.0          10.0
52421  52422   8.0            4.0             1.8        4.0           8.0
21781  21782   9.0            4.0             1.5        4.0          13.0

       Fuel Type  Fuel Consumption City  Fuel Consumption Hwy  \
34013        2.0               6.535948             10.869565
37209        0.0            1986.412635              5.495668
3022         0.0               6.578947           1638.625731
26500        2.0             295.900799              9.900990
18897        2.0             962.000000            381.904671
...          ...                    ...                   ...
23098        0.0               6.329114            704.000000
37132        0.0            -936.358563           1163.000000
12045        0.0              16.518687              6.077896
52421        0.0            1087.000000              6.661416
21781        0.0              10.869565             12.345679

       Fuel Consumption Comb
34013               7.968127
37209            1095.000000
3022              741.000000
26500             327.125916
18897             327.125916
...                      ...
23098             320.281013
37132               8.352791
12045              11.820331
52421              11.547344
21781              11.533816

[43949 rows x 10 columns]

In [53]:
import xgboost as xgb
from sklearn.metrics import mean_squared_error
xgbr = xgb.XGBRegressor()
xgbr.fit(X_train, y_train)
y_pred = xgbr.predict(X_test)
print(mean_squared_error(y_test, y_pred, squared=False))

21.59003756153266

In [54]:
#from sklearn.svm import SVR
#from sklearn.metrics import mean_squared_error
#svr = SVR()
#svr.fit(X_train, y_train)
#y_pred = svr.predict(X_test)
#print(mean_squared_error(y_test, y_pred, squared=False))

# TEST

In [55]:
test = pd.read_csv('test.csv')
test.shape

(23545, 10)

## Handles Categorical Data

In [56]:
cat_columns =[column for column in test.columns if test[column].nunique() < 100]
cat = pd.DataFrame(test[cat_columns])

cat.head()

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type
0,FOLD,PICKUP TRUCK - STANDARD,5.0,8.0,AS10,X
1,BMV,COMPACT,2.0,4.0,A8,Z
2,JIPU,SUV - SMALL,1.3,4.0,A9,X
3,LECUS,SUV - SMALL,not-recorded,4.0,AS6,Z
4,BARUSU,COMPACT,2.0,unestablished,M6,Z

In [57]:
cat.isnull().sum()

Make                0
Vehicle Class     219
Engine Size(L)    632
Cylinders         506
Transmission      163
Fuel Type         221
dtype: int64

In [58]:
#Create list of unique value of each categories
unique_eclass = ['3.5', '5.3', '4.4',  '3.0', '1.8', '2.0',
        '3.6', '2.5','2.4', '2.3', '1.4', '1.6', '5.0'
        '1.3', '6.2', '4.8', '2.7', '6.0', '3.2', '6.5', '5.7', '3.7',
        '1.2', '4.0', '3.3', '1.5', '5.2',
        '3.8', '2.8', '4.6', '6.4',
        '4.3', '6.6', '5.4', '1.0', '5.6', '5.8', '8.4', '3.4', '4.2',
        '6.8', '2.2']

unique_cyl = ['6.0', '4.0', '8.0' '12.0','3.0', '5.0', '10.0']

unique_vclass = ['PICKUP TRUCK - STANDARD', 'SUBCOMPACT', 'SUV - SMALL',
        'MINICOMPACT', 'COMPACT', 'FULL-SIZE', 'SUV - STANDARD', 'MINIVAN',
        'STATION WAGON - SMALL', 'PICKUP TRUCK - SMALL',
        'TWO-SEATER', 'STATION WAGON - MID-SIZE', 'MID-SIZE',
        'SPECIAL PURPOSE VEHICLE', 'VAN - PASSENGER', 'VAN - CARGO']

unique_make = ['FOLD', 'CHEVO', 'BMV', 'KIO', 'BARUSU', 'LECUS', 'GONDA',
        'LAND CRAWLER', 'FOLKSWA', 'TOYOTI', 'JIPU', 'TOLVO', 'ASURA',
        'NIRRAN', 'FIAR', 'DOGE', 'CADILUXE', 'MATSUDA', 'MITSU',
        'RYUNDAI', 'LAMBOGI']

unique_ftype = ['X', 'E', 'Z', 'D', 'N']

unique_trans = ['A6', 'M6', 'AS6', 'AV7', 'AS8',
        'A9', 'AV', 'AV8', 'M5', 'A8', 'AV6', 'AS10',
        'AM7', 'A4', 'A5', 'AS7', 'AM6', 'AS5', 'AS9', 'AM9', 'AV10', 'AM8', 'M7',
        'A10', 'A7']

In [59]:
def fillna_temp(input, list):
    if not input or input not in list:
        return 'Null'
    else:
        return input
    
cat['Fuel Type'] = cat['Fuel Type'].apply(lambda x : fillna_temp(x, unique_ftype))
cat['Engine Size(L)'] = cat['Engine Size(L)'].apply(lambda x : fillna_temp(x, unique_eclass))
cat['Transmission'] = cat['Transmission'].apply(lambda x : fillna_temp(x, unique_trans))
cat['Vehicle Class'] = cat['Vehicle Class'].apply(lambda x: fillna_temp(x, unique_vclass))
cat['Make'] = cat['Make'].apply(lambda x : fillna_temp(x, unique_make))
cat['Cylinders'] = cat['Cylinders'].apply(lambda x : fillna_temp(x, unique_cyl))

In [60]:
for col in cat.columns:
    print(cat[col].unique())
    print('========================')

['FOLD' 'BMV' 'JIPU' 'LECUS' 'BARUSU' 'CHEVO' 'LAND CRAWLER' 'TOLVO'
 'RYUNDAI' 'LAMBOGI' 'KIO' 'TOYOTI' 'ASURA' 'MITSU' 'DOGE' 'CADILUXE'
 'GONDA' 'MATSUDA' 'NIRRAN' 'FOLKSWA' 'FIAR']
========================
['PICKUP TRUCK - STANDARD' 'COMPACT' 'SUV - SMALL' 'TWO-SEATER'
 'SUV - STANDARD' 'MID-SIZE' 'Null' 'FULL-SIZE' 'SUBCOMPACT'
 'STATION WAGON - SMALL' 'VAN - PASSENGER' 'PICKUP TRUCK - SMALL'
 'SPECIAL PURPOSE VEHICLE' 'MINIVAN' 'MINICOMPACT' 'VAN - CARGO'
 'STATION WAGON - MID-SIZE']
========================
['Null' '2.0' '6.2' '1.8' '4.4' '1.6' '2.4' '3.0' '1.4' '6.0' '5.2' '3.5'
 '3.3' '2.5' '2.3' '3.2' '3.6' '3.8' '1.0' '4.8' '2.8' '2.7' '5.6' '1.5'
 '5.3' '5.8' '6.6' '5.7' '6.4' '8.4' '4.6' '5.4' '3.7' '4.0' '1.2' '4.3'
 '6.5' '3.4' '6.8' '2.2' '4.2']
========================
['Null' '4.0' '10.0' '6.0' '3.0' '5.0']
========================
['AS10' 'A8' 'A9' 'AS6' 'M6' 'M7' 'AS8' 'A6' 'AM7' 'M5' 'AS9' 'AV7' 'AV6'
 'Null' 'AV' 'AM6' 'A5' 'AS7' 'A4' 'AV8' 'AS5' 'A10' 'AM8' 'AV10' 'AM9'
 'A7']
========================
['X' 'Z' 'D' 'Null' 'E' 'N']
========================

### Vehicle Class

In [61]:
grouped = cat.groupby(['Make', 'Vehicle Class'])['Vehicle Class'].count()
max_vc_per_make = grouped.groupby('Make').idxmax()

#Test the result
max_vc_per_make['CHEVO']

('CHEVO', 'PICKUP TRUCK - STANDARD')

In [62]:
cat['Vehicle Class'].isnull().sum()

0

In [63]:
def fill_vc(make, vc):
    if vc == 'Null':
        return max_vc_per_make[make][1]
    else:
        return vc 

cat['Vehicle Class'] = cat.apply(lambda x: fill_vc(x['Make'], x['Vehicle Class']), axis=1)

### Fuel Type

In [64]:
grouped = cat.groupby(['Make', 'Vehicle Class', 'Fuel Type'])['Fuel Type'].count()

grouped_fuel_type = grouped.groupby(['Make', 'Vehicle Class']).idxmax()

def fill_ft(make, vc, ft):
    fuel_types_per_mvc = grouped_fuel_type[make][vc][2]
    if ft == 'Null':
        return fuel_types_per_mvc
    else:
        return ft
    
cat['Fuel Type'] = cat.apply(lambda x: fill_ft(x['Make'], x['Vehicle Class'], x['Fuel Type']), axis=1)

### Engine Size and Cylinders

In [65]:
def change_to_float(x):
    try:
        return float(x) 
    except ValueError:
        return 0.0
    


cat['Engine Size(L)'] = cat['Engine Size(L)'].apply(change_to_float)
cat['Cylinders'] = cat['Cylinders'].apply(change_to_float)

In [66]:
grouped_by_es = cat.groupby(['Engine Size(L)', 'Cylinders'])['Cylinders'].count()
max_cyl_per_es = grouped_by_es.groupby('Engine Size(L)').idxmax()

max_cyl_per_es

Engine Size(L)
0.0     (0.0, 0.0)
1.0     (1.0, 3.0)
1.2     (1.2, 3.0)
1.4     (1.4, 4.0)
1.5     (1.5, 4.0)
1.6     (1.6, 4.0)
1.8     (1.8, 4.0)
2.0     (2.0, 4.0)
2.2     (2.2, 4.0)
2.3     (2.3, 4.0)
2.4     (2.4, 4.0)
2.5     (2.5, 4.0)
2.7     (2.7, 6.0)
2.8     (2.8, 4.0)
3.0     (3.0, 6.0)
3.2     (3.2, 6.0)
3.3     (3.3, 6.0)
3.4     (3.4, 6.0)
3.5     (3.5, 6.0)
3.6     (3.6, 6.0)
3.7     (3.7, 6.0)
3.8     (3.8, 6.0)
4.0     (4.0, 6.0)
4.2     (4.2, 0.0)
4.3     (4.3, 6.0)
4.4     (4.4, 0.0)
4.6     (4.6, 0.0)
4.8     (4.8, 0.0)
5.2    (5.2, 10.0)
5.3     (5.3, 0.0)
5.4     (5.4, 0.0)
5.6     (5.6, 0.0)
5.7     (5.7, 0.0)
5.8     (5.8, 0.0)
6.0     (6.0, 0.0)
6.2     (6.2, 0.0)
6.4     (6.4, 0.0)
6.5     (6.5, 0.0)
6.6     (6.6, 0.0)
6.8    (6.8, 10.0)
8.4    (8.4, 10.0)
Name: Cylinders, dtype: object

In [67]:
grouped = cat.groupby(['Cylinders', 'Engine Size(L)'])['Engine Size(L)'].count()
max_es_per_cyl= grouped.groupby('Cylinders').idxmax()

max_es_per_cyl

Cylinders
0.0      (0.0, 0.0)
3.0      (3.0, 1.2)
4.0      (4.0, 2.0)
5.0      (5.0, 2.5)
6.0      (6.0, 3.5)
10.0    (10.0, 5.2)
Name: Engine Size(L), dtype: object

In [68]:
cat[['Engine Size(L)', 'Cylinders']].isnull().sum(), cat['Engine Size(L)'].unique(), cat['Cylinders'].unique()

(Engine Size(L)    0
 Cylinders         0
 dtype: int64,
 array([0. , 2. , 6.2, 1.8, 4.4, 1.6, 2.4, 3. , 1.4, 6. , 5.2, 3.5, 3.3,
        2.5, 2.3, 3.2, 3.6, 3.8, 1. , 4.8, 2.8, 2.7, 5.6, 1.5, 5.3, 5.8,
        6.6, 5.7, 6.4, 8.4, 4.6, 5.4, 3.7, 4. , 1.2, 4.3, 6.5, 3.4, 6.8,
        2.2, 4.2]),
 array([ 0.,  4., 10.,  6.,  3.,  5.]))

In [69]:
def fill_es(cyl, es):
    if pd.isnull(es):
        if cyl == 'Null':
            return max_es_per_cyl[0.0][1]
        return max_es_per_cyl[cyl][1]
    else:
        return es
    
def fill_cyl(es, cyl):
    if pd.isnull(cyl):
        if es == 'Null':
            return max_cyl_per_es[0.0][1]
        return max_cyl_per_es[es][1]
    else:
        return cyl

    
cat['Engine Size(L)'] = cat.apply(lambda x: fill_es(x['Cylinders'], x['Engine Size(L)']), axis=1)
cat['Cylinders'] = cat.apply(lambda x: fill_cyl(x['Engine Size(L)'], x['Cylinders']), axis=1)

### Transmission

In [70]:
grouped = cat.groupby(['Make', 'Vehicle Class', 'Transmission'])['Transmission'].count()

grouped_trans = grouped.groupby(['Make', 'Vehicle Class']).idxmax()

def fill_trans(make, vc, trans):
    trans_per_mvc = grouped_trans[make][vc][2]
    if trans == 'Null':
        return trans_per_mvc
    else:
        return trans

cat['Transmission'] = cat.apply(lambda x: fill_ft(x['Make'], x['Vehicle Class'], x['Transmission']), axis=1)

### Encode all the categorical

In [71]:
def encode_categorical(input, list):
    if input in list:
        return float(list.index(input))
    else:
        return -1.0

In [72]:
cat['Vehicle Class'] = cat['Vehicle Class'].apply(lambda x: encode_categorical(x, unique_vclass))
cat['Fuel Type'] = cat['Fuel Type'].apply(lambda x: encode_categorical(x, unique_ftype))
cat['Make'] = cat['Make'].apply(lambda x: encode_categorical(x, unique_make))
cat['Transmission'] = cat['Transmission'].apply(lambda x: encode_categorical(x, unique_trans))

cat.head()

   Make  Vehicle Class  Engine Size(L)  Cylinders  Transmission  Fuel Type
0   0.0            0.0             0.0        0.0          11.0        0.0
1   2.0            4.0             2.0        4.0           9.0        2.0
2  10.0            2.0             0.0        4.0           5.0        0.0
3   5.0            2.0             0.0        4.0           2.0        2.0
4   4.0            4.0             2.0        0.0           1.0        2.0

In [73]:
test['Make'] = cat['Make']
test['Vehicle Class'] = cat['Vehicle Class']
test['Engine Size(L)'] = cat['Engine Size(L)']
test['Transmission'] = cat['Transmission']
test['Fuel Type'] = cat['Fuel Type']
test['Cylinders'] = cat['Cylinders']

## HANDLES NUMERICAL TEST DATA

In [74]:
import re
def recognize_format_fuelX(input_data):
    types_counter = []


    mpg_to_l_per_100km = 235.214583
    l_per_10km_to_l_per_100km = 10

    for val in input_data:
        if isinstance(val, str):
            if re.search(r'(L/100km|L/100 km|liters per 100 km)$', val):
                value = float(re.search(r'\d+.\d+', val).group())
                if value != 0:  # Avoid division by zero
                    types_counter.append(100 / value)
                else:
                    types_counter.append(np.nan)

            elif re.search(r'(km/L|km per L)$', val):
                value = float(re.search(r'\d+.\d+', val).group())
                types_counter.append(value * 100)

            elif re.search(r'(mpg Imp.|MPG (AS))$', val, re.IGNORECASE):
                value = float(re.search(r'\d+.\d+', val).group())
                if value != 0: 
                    types_counter.append(mpg_to_l_per_100km / value)
                else:
                    types_counter.append(np.nan)
            elif re.search(r'(\d+(.\d+)?\sL/10\skm)$', val):
                value = float(re.search(r'\d+(.\d+)?', val).group())
                if value != 0:
                    types_counter.append(1000 / (value / l_per_10km_to_l_per_100km))
                else:
                    types_counter.append(np.nan)
            elif val == 'zero':
                types_counter.append(0)

            else:
                types_counter.append(np.nan)

        else:
            types_counter.append(np.nan)

    return types_counter
fuel_consumption_column = test['Fuel Consumption City']
converted_data = recognize_format_fuelX(fuel_consumption_column)
fuel_consumption_column = test['Fuel Consumption Hwy']
converted_data1 = recognize_format_fuelX(fuel_consumption_column)
fuel_consumption_column = test['Fuel Consumption Comb']
converted_data2 = recognize_format_fuelX(fuel_consumption_column)

test['Fuel Consumption City'] = converted_data
test['Fuel Consumption Hwy'] = converted_data1
test['Fuel Consumption Comb'] = converted_data2

In [75]:
missing_comb_mask = test['Fuel Consumption Comb'].isnull()
test.loc[missing_comb_mask, 'Fuel Consumption Comb'] = 0.55 * test['Fuel Consumption City'] + 0.45 * test['Fuel Consumption Hwy']

In [76]:
missing_city_mask = test['Fuel Consumption City'].isnull()
missing_hwy_mask = test['Fuel Consumption Hwy'].isnull()

In [77]:
test.loc[missing_city_mask, 'Fuel Consumption City'] = (test.loc[missing_city_mask, 'Fuel Consumption Comb'] - 0.45 * test.loc[missing_city_mask, 'Fuel Consumption Hwy']) / 0.55
test.loc[missing_hwy_mask, 'Fuel Consumption Hwy'] = (test.loc[missing_hwy_mask, 'Fuel Consumption Comb'] - 0.55 * test.loc[missing_hwy_mask, 'Fuel Consumption City']) / 0.45

In [78]:
test.isnull().sum()

Id                          0
Make                        0
Vehicle Class               0
Engine Size(L)              0
Cylinders                   0
Transmission                0
Fuel Type                   0
Fuel Consumption City    3099
Fuel Consumption Hwy     3126
Fuel Consumption Comb    3143
dtype: int64

In [79]:
mean_city = test['Fuel Consumption City'].mean()
mean_hwy = test['Fuel Consumption Hwy'].mean()
mean_comb = test['Fuel Consumption Comb'].mean()

# Fill null values with the means
test['Fuel Consumption City'].fillna(mean_city, inplace=True)
test['Fuel Consumption Hwy'].fillna(mean_hwy, inplace=True)
test['Fuel Consumption Comb'].fillna(mean_comb, inplace=True)

In [80]:
test.head()

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb
0,54938,0.0,0.0,0.0,0.0,11.0,0.0,7.042254,6.578947,6.833766
1,54939,2.0,4.0,2.0,4.0,9.0,2.0,10.989011,5.412209,8.479450
2,54940,10.0,2.0,0.0,4.0,5.0,0.0,8.494568,12.820513,10.964912
3,54941,5.0,2.0,0.0,4.0,2.0,2.0,288.412705,380.125527,329.172990
4,54942,4.0,4.0,2.0,0.0,1.0,2.0,1136.000000,5.911399,12.437811

In [81]:
test.isnull().sum()

Id                       0
Make                     0
Vehicle Class            0
Engine Size(L)           0
Cylinders                0
Transmission             0
Fuel Type                0
Fuel Consumption City    0
Fuel Consumption Hwy     0
Fuel Consumption Comb    0
dtype: int64

In [82]:
test.shape

(23545, 10)

## PREDICTION AND SUBMISSION

In [83]:
y_pred = xgbr.predict(test)

In [84]:
sample_submission = pd.read_csv('sample_submission.csv')
sample_submission.shape

(23545, 2)

In [85]:
sample_submission.head()

      Id  CO2 Emissions(g/km)
0  54938                    0
1  54939                    0
2  54940                    0
3  54941                    0
4  54942                    0

In [86]:
y_predcsv = pd.DataFrame(y_pred, columns=['CO2 Emissions(g/km)'])

In [87]:
y_predcsv.shape

(23545, 1)

In [88]:
sample_submission.drop(columns=['CO2 Emissions(g/km)'], axis=1, inplace=True)
sample_submission['CO2 Emissions(g/km)'] = y_predcsv

In [89]:
sample_submission.head(10)
sample_submission.shape

(23545, 2)

In [90]:
sample_submission.isnull().sum()

Id                     0
CO2 Emissions(g/km)    0
dtype: int64

In [91]:
sample_submission.to_csv('sample_submissioncsv6.csv', index=False)