In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,Id,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type,Fuel Consumption City,Fuel Consumption Hwy,Fuel Consumption Comb,CO2 Emissions(g/km)
0,1,FOLD,PICKUP TRUCK - STANDARD,3.5,6.0,A6,X,8.64 liters per 100 km,6.14 L/100 km,37.59 mpg Imp.,306.0
1,2,CHEVO,PICKUP TRUCK - STANDARD,5.3,NaN,A6,E,27.27 liters per 100 km,30.76 liters per 100 km,28.84 L/100 km,283.0
2,3,BMV,SUBCOMPACT,4.4,NaN,M6,Z,0.17 L/10km,2.03 liters per 100 km,zero,329.0
3,4,KIO,SUV - SMALL,NaN,4.0,AS6,X,6.52 km per L,1.59 L/10km,NaN,270.0
4,5,BARUSU,MINICOMPACT,3.0,6.0,unspecified,Z,20.15 L/100km,0.60 L/10km,1.38 L/10km,193.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137141 entries, 0 to 137140
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Id                     137141 non-null  int64
 1   Make                   137141 non-null  object
 2   Vehicle Class          135816 non-null  object
 3   Engine Size(L)         120522 non-null  object
 4   Cylinders              122986 non-null  object
 5   Transmission           134536 non-null  object
 6   Fuel Type              135286 non-null  object
 7   Fuel Consumption City  134719 non-null  object
 8   Fuel Consumption Hwy   134573 non-null  object
 9   Fuel Consumption Comb  134559 non-null  object
 10  CO2 Emissions(g/km)    137141 non-null  float64
dtypes: float64(1), int64(1), object(9)
memory usage: 11.5+ MB

In [5]:
for column in df.columns:
    print(f"{column} has {df[column].nunique()} unique values")

Id has 137141 unique values
Make has 21 unique values
Vehicle Class has 24 unique values
Engine Size(L) has 50 unique values
Cylinders has 15 unique values
Transmission has 33 unique values
Fuel Type has 13 unique values
Fuel Consumption City has 33648 unique values
Fuel Consumption Hwy has 34963 unique values
Fuel Consumption Comb has 26157 unique values
CO2 Emissions(g/km) has 4508 unique values

In [6]:
df.isnull().sum()

Id                           0
Make                         0
Vehicle Class             1325
Engine Size(L)           16619
Cylinders                14155
Transmission              2605
Fuel Type                 1855
Fuel Consumption City     2422
Fuel Consumption Hwy      2568
Fuel Consumption Comb     2582
CO2 Emissions(g/km)          0
dtype: int64

In [7]:
fuelX = pd.DataFrame(df[['Fuel Consumption City', 'Fuel Consumption Hwy', 'Fuel Consumption Comb']])

In [8]:
fuelX.head(30)

      Fuel Consumption City     Fuel Consumption Hwy    Fuel Consumption Comb
0    8.64 liters per 100 km            6.14 L/100 km           37.59 mpg Imp.
1   27.27 liters per 100 km  30.76 liters per 100 km           28.84 L/100 km
2               0.17 L/10km   2.03 liters per 100 km                     zero
3             6.52 km per L              1.59 L/10km                      NaN
4             20.15 L/100km              0.60 L/10km              1.38 L/10km
5             5.57 MPG (AS)           38.28 mpg Imp.            8.86 MPG (AS)
6              7.52 L/100km           14.76 mpg Imp.           12.75 L/100 km
7            28.55 MPG (AS)   2.06 liters per 100 km               18.33 km/L
8             9.16 mpg Imp.              2.08 L/10km            26.31 L/100km
9            43.84 km per L           18.13 L/100 km                    -9999
10  27.73 liters per 100 km             2.27 L/100km                     zero
11  19.01 liters per 100 km           33.07 mpg Imp.            6.99 km per L
12              0.22 L/10km            5.30 L/100 km           27.94 km per L
13             9.06 L/100km  12.21 liters per 100 km                9.54 km/L
14  23.39 liters per 100 km           17.53 mpg Imp.                4.97 km/L
15  25.96 liters per 100 km           10.04 km per L           15.06 mpg Imp.
16           35.25 mpg Imp.            22.09 L/100km  14.35 liters per 100 km
17   5.02 liters per 100 km   7.02 liters per 100 km   5.92 liters per 100 km
18            6.46 km per L           19.24 km per L  10.86 liters per 100 km
19            15.13 L/100km           42.07 L/100 km            8.63 MPG (AS)
20   7.09 liters per 100 km            not-available           51.12 mpg Imp.
21            9.21 km per L           31.23 mpg Imp.              1.00 L/10km
22            8.61 km per L               11.58 km/L  10.27 liters per 100 km
23            31.25 L/100km               11.48 km/L                        0
24   0.44 liters per 100 km           21.89 L/100 km              1.01 L/10km
25             4.49 L/100km   3.37 liters per 100 km            3.99 L/100 km
26              0.53 L/10km   3.58 liters per 100 km           22.11 km per L
27            9.96 mpg Imp.           12.33 L/100 km  21.15 liters per 100 km
28           32.72 MPG (AS)  31.16 liters per 100 km                5.56 km/L
29            17.78 L/100km           10.72 km per L              1.40 L/10km

### Take a look of the unique values of each categorical column

In [9]:
df['Make'].unique(), df['Make'].value_counts()

(array(['FOLD', 'CHEVO', 'BMV', 'KIO', 'BARUSU', 'LECUS', 'GONDA',
        'LAND CRAWLER', 'FOLKSWA', 'TOYOTI', 'JIPU', 'TOLVO', 'ASURA',
        'NIRRAN', 'FIAR', 'DOGE', 'CADILUXE', 'MATSUDA', 'MITSU',
        'RYUNDAI', 'LAMBOGI'], dtype=object),
 FOLD            18081
 CHEVO           16615
 BMV             14932
 TOYOTI           9562
 NIRRAN           7287
 JIPU             7242
 DOGE             6947
 KIO              6443
 GONDA            6035
 RYUNDAI          5925
 FOLKSWA          5382
 LECUS            5171
 MATSUDA          5052
 CADILUXE         4517
 BARUSU           3982
 TOLVO            3595
 MITSU            2701
 LAND CRAWLER     2455
 ASURA            2040
 FIAR             2012
 LAMBOGI          1165
 Name: Make, dtype: int64)

In [10]:
df['Vehicle Class'].unique(), df['Vehicle Class'].value_counts()

(array(['PICKUP TRUCK - STANDARD', 'SUBCOMPACT', 'SUV - SMALL',
        'MINICOMPACT', 'COMPACT', 'FULL-SIZE', 'SUV - STANDARD', 'MINIVAN',
        'STATION WAGON - SMALL', nan, 'PICKUP TRUCK - SMALL', 'missing',
        'TWO-SEATER', 'STATION WAGON - MID-SIZE', 'MID-SIZE',
        'SPECIAL PURPOSE VEHICLE', 'VAN - PASSENGER', '-1', 'not-recorded',
        'na', 'unspecified', 'unknown', 'unestablished', 'VAN - CARGO',
        'not-available'], dtype=object),
 SUV - SMALL                 27799
 COMPACT                     21981
 MID-SIZE                    20703
 SUV - STANDARD              12250
 FULL-SIZE                    9998
 PICKUP TRUCK - STANDARD      9613
 SUBCOMPACT                   9148
 STATION WAGON - SMALL        5956
 TWO-SEATER                   4044
 PICKUP TRUCK - SMALL         3214
 MINICOMPACT                  1734
 MINIVAN                      1676
 SPECIAL PURPOSE VEHICLE      1450
 VAN - PASSENGER              1225
 STATION WAGON - MID-SIZE      863
 not-recorded                  836
 missing                       448
 na                            430
 not-available                 430
 unspecified                   426
 unestablished                 415
 unknown                       413
 -1                            409
 VAN - CARGO                   355
 Name: Vehicle Class, dtype: int64)

In [11]:
df['Engine Size(L)'].unique(), df['Engine Size(L)'].value_counts()

(array(['3.5', '5.3', '4.4', nan, '3.0', 'unspecified', '1.8', '2.0',
        '3.6', '2.5', 'missing', '2.4', '2.3', '1.4', '1.6', '5.0', 'na',
        '1.3', '6.2', '4.8', '2.7', '6.0', '3.2', '6.5', '5.7', '3.7',
        '1.2', '4.0', '3.3', '1.5', 'not-available', '5.2', 'not-recorded',
        '3.8', '2.8', '-1', 'unknown', 'unestablished', '4.6', '6.4',
        '4.3', '6.6', '5.4', '1.0', '5.6', '5.8', '8.4', '3.4', '4.2',
        '6.8', '2.2'], dtype=object),
 2.0              21216
 3.5              12375
 2.5               9386
 3.0               9083
 3.6               8802
 2.4               7972
 1.6               4700
 1.8               3982
 1.4               3980
 1.5               3204
 5.0               3152
 5.3               3025
 4.4               2786
 6.2               2502
 3.3               2064
 2.7               1848
 not-recorded      1726
 3.7               1589
 5.7               1589
 2.3               1230
 4.0               1019
 3.2                986
 6.4                919
 missing            898
 not-available      893
 unknown            878
 na                 855
 unspecified        841
 -1                 819
 unestablished      804
 4.6                682
 4.3                587
 3.8                577
 5.2                519
 1.2                487
 5.6                423
 6.5                395
 6.0                352
 2.8                344
 1.0                288
 1.3                189
 5.4                119
 3.4                104
 4.8                 90
 6.6                 74
 8.4                 68
 4.2                 38
 2.2                 26
 5.8                 20
 6.8                 17
 Name: Engine Size(L), dtype: int64)

In [12]:
df['Transmission'].unique(), df['Transmission'].value_counts()

(array(['A6', 'M6', 'AS6', 'unspecified', 'not-recorded', 'AV7', 'AS8',
        'A9', 'unknown', nan, 'AV', 'AV8', 'M5', 'A8', 'AV6', 'AS10',
        'AM7', 'missing', 'A4', 'A5', 'AS7', 'AM6', 'AS5', 'not-available',
        'na', 'AS9', '-1', 'AM9', 'AV10', 'unestablished', 'AM8', 'M7',
        'A10', 'A7'], dtype=object),
 AS6              28926
 AS8              20015
 M6               17885
 A6               12327
 AV                7514
 A8                6731
 M5                4810
 AS10              4363
 A9                3554
 AM7               3535
 AV6               3022
 AV7               2781
 AM6               2444
 A5                2087
 not-recorded      1697
 AS9               1668
 A4                1326
 na                 964
 unestablished      874
 AV8                873
 not-available      870
 unspecified        869
 unknown            864
 -1                 853
 missing            844
 AS7                726
 AS5                701
 A10                388
 AM8                338
 AV10               295
 M7                 288
 AM9                 76
 A7                  28
 Name: Transmission, dtype: int64)

In [13]:
df['Fuel Type'].unique(), df['Fuel Type'].value_counts()

(array(['X', 'E', 'Z', nan, 'D', '-1', 'missing', 'unspecified',
        'not-recorded', 'unknown', 'unestablished', 'na', 'not-available',
        'N'], dtype=object),
 X                83001
 Z                37304
 E                 6710
 D                 2683
 not-recorded      1217
 unspecified        686
 unknown            633
 missing            632
 not-available      631
 unestablished      599
 na                 588
 -1                 578
 N                   24
 Name: Fuel Type, dtype: int64)

In [14]:
df['Cylinders'].unique(), df['Cylinders'].value_counts()

(array(['6.0', nan, '4.0', '8.0', 'not-available', 'unestablished', '12.0',
        'unspecified', 'not-recorded', '3.0', '-1', 'missing', '5.0',
        'unknown', '10.0', 'na'], dtype=object),
 4.0              66618
 6.0              31312
 8.0              16082
 not-recorded      1451
 3.0                880
 unknown            754
 -1                 730
 missing            726
 unestablished      724
 unspecified        718
 na                 674
 not-available      673
 10.0               619
 12.0               583
 5.0                442
 Name: Cylinders, dtype: int64)

### Create a rule based system to try to predict the missing values for the Categorical Features

## Vehicle Class 
Basis: assumption that one brand of car tends to create one vehicle type more than the other. Example: Lamborgini creates more two seater than other Vehicle Class (like PICKUP TRUCK, etc). Hence it is reasonable to predict the missing values with the most 'popular' car type produced by its brand

In [15]:
cat_columns =[column for column in df.columns if df[column].nunique() < 100]
cat = pd.DataFrame(df[cat_columns])

cat.head()

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type
0,FOLD,PICKUP TRUCK - STANDARD,3.5,6.0,A6,X
1,CHEVO,PICKUP TRUCK - STANDARD,5.3,NaN,A6,E
2,BMV,SUBCOMPACT,4.4,NaN,M6,Z
3,KIO,SUV - SMALL,NaN,4.0,AS6,X
4,BARUSU,MINICOMPACT,3.0,6.0,unspecified,Z

In [16]:
cat.isnull().sum()

Make                  0
Vehicle Class      1325
Engine Size(L)    16619
Cylinders         14155
Transmission       2605
Fuel Type          1855
dtype: int64

Question: what is the maximum vehicle class category per car manufacturer?

In [17]:
grouped = cat.groupby(['Make', 'Vehicle Class'])['Vehicle Class'].count()
max_vc_per_make = grouped.groupby('Make').idxmax()

#Test the result
max_vc_per_make['CHEVO']

('CHEVO', 'PICKUP TRUCK - STANDARD')

In [18]:
#There are these many missing values inside the Vehicle class 
cat['Vehicle Class'].isnull().sum()

1325

In [19]:
def fill_vc(make, vc):
    if pd.isnull(vc):
        return max_vc_per_make[make][1]
    else:
        return vc 

cat['Vehicle Class'] = cat.apply(lambda x: fill_vc(x['Make'], x['Vehicle Class']), axis=1)

In [20]:
cat['Vehicle Class'].isnull().sum()

0

In [21]:
print(cat.columns)

Index(['Make', 'Vehicle Class', 'Engine Size(L)', 'Cylinders', 'Transmission',
       'Fuel Type'],
      dtype='object')

### Fuel Type 
I think it is common sense to say that a Vehicle Class with the same brand are more likely to have the same Fuel Type. Grouped the fuel type data based on Make and Vehicle Class, then choose 
the definite fuel type that is possible between the set

In [22]:
cat['Fuel Type'].isnull().sum()

1855

In [23]:
import random

grouped_fuel_type = cat.groupby(['Make', 'Vehicle Class'])['Fuel Type'].unique()

def fill_ft(make, vc, ft):
    fuel_types_per_mvc = list(set(grouped_fuel_type[make][vc]) &  set(['X', 'Z', 'E', 'D', 'N']))
    if pd.isnull(ft):
        return random.choice(fuel_types_per_mvc)
    else:
        return ft
    
cat['Fuel Type'] = cat.apply(lambda x: fill_ft(x['Make'], x['Vehicle Class'], x['Fuel Type']), axis=1)

In [24]:
cat['Fuel Type'].isnull().sum()

0

In [25]:
print(cat.columns)

Index(['Make', 'Vehicle Class', 'Engine Size(L)', 'Cylinders', 'Transmission',
       'Fuel Type'],
      dtype='object')

### Engine Size and Cylinders
The underlying basis of the rule based is that engine size and cylinder have a strong correlation, hence we can fill the missing values of one value with respect to the other

In [26]:
grouped = pd.DataFrame(cat[['Engine Size(L)', 'Cylinders', 'Transmission']])

In [27]:
def change_to_float(x):
    try:
        return float(x) 
    except ValueError:
        return 0.0
    


cat['Engine Size(L)'] = cat['Engine Size(L)'].apply(change_to_float)
cat['Cylinders'] = cat['Cylinders'].apply(change_to_float)


grouped.corr()

Empty DataFrame
Columns: []
Index: []

In [28]:
grouped_by_es = cat.groupby(['Engine Size(L)', 'Cylinders'])['Cylinders'].count()
max_cyl_per_es = grouped_by_es.groupby('Engine Size(L)').idxmax()

max_cyl_per_es

Engine Size(L)
-1.0    (-1.0, 4.0)
 0.0     (0.0, 4.0)
 1.0     (1.0, 3.0)
 1.2     (1.2, 3.0)
 1.3     (1.3, 4.0)
 1.4     (1.4, 4.0)
 1.5     (1.5, 4.0)
 1.6     (1.6, 4.0)
 1.8     (1.8, 4.0)
 2.0     (2.0, 4.0)
 2.2     (2.2, 4.0)
 2.3     (2.3, 4.0)
 2.4     (2.4, 4.0)
 2.5     (2.5, 4.0)
 2.7     (2.7, 4.0)
 2.8     (2.8, 4.0)
 3.0     (3.0, 6.0)
 3.2     (3.2, 6.0)
 3.3     (3.3, 6.0)
 3.4     (3.4, 6.0)
 3.5     (3.5, 6.0)
 3.6     (3.6, 6.0)
 3.7     (3.7, 6.0)
 3.8     (3.8, 6.0)
 4.0     (4.0, 6.0)
 4.2     (4.2, 8.0)
 4.3     (4.3, 6.0)
 4.4     (4.4, 8.0)
 4.6     (4.6, 8.0)
 4.8     (4.8, 8.0)
 5.0     (5.0, 8.0)
 5.2    (5.2, 10.0)
 5.3     (5.3, 8.0)
 5.4     (5.4, 8.0)
 5.6     (5.6, 8.0)
 5.7     (5.7, 8.0)
 5.8     (5.8, 8.0)
 6.0     (6.0, 8.0)
 6.2     (6.2, 8.0)
 6.4     (6.4, 8.0)
 6.5    (6.5, 12.0)
 6.6    (6.6, 12.0)
 6.8    (6.8, 10.0)
 8.4    (8.4, 10.0)
Name: Cylinders, dtype: object

In [29]:
grouped = cat.groupby(['Cylinders', 'Engine Size(L)'])['Engine Size(L)'].count()
max_es_per_cyl= grouped.groupby('Cylinders').idxmax()

max_es_per_cyl

Cylinders
-1.0     (-1.0, 2.0)
 0.0      (0.0, 2.0)
 3.0      (3.0, 1.2)
 4.0      (4.0, 2.0)
 5.0      (5.0, 2.5)
 6.0      (6.0, 3.5)
 8.0      (8.0, 5.0)
 10.0    (10.0, 5.2)
 12.0    (12.0, 6.5)
Name: Engine Size(L), dtype: object

In [30]:
cat[['Engine Size(L)', 'Cylinders']].isnull().sum(), cat['Engine Size(L)'].unique(), cat['Cylinders'].unique()

(Engine Size(L)    16619
 Cylinders         14155
 dtype: int64,
 array([ 3.5,  5.3,  4.4,  nan,  3. ,  0. ,  1.8,  2. ,  3.6,  2.5,  2.4,
         2.3,  1.4,  1.6,  5. ,  1.3,  6.2,  4.8,  2.7,  6. ,  3.2,  6.5,
         5.7,  3.7,  1.2,  4. ,  3.3,  1.5,  5.2,  3.8,  2.8, -1. ,  4.6,
         6.4,  4.3,  6.6,  5.4,  1. ,  5.6,  5.8,  8.4,  3.4,  4.2,  6.8,
         2.2]),
 array([ 6., nan,  4.,  8.,  0., 12.,  3., -1.,  5., 10.]))

In [31]:
def fill_es(cyl, es):
    if pd.isnull(es):
        if pd.isnull(cyl):
            return max_es_per_cyl[0.0][1]
        return max_es_per_cyl[cyl][1]
    else:
        return es
    
def fill_cyl(es, cyl):
    if pd.isnull(cyl):
        if pd.isnull(es):
            return max_cyl_per_es[0.0][1]
        return max_cyl_per_es[es][1]
    else:
        return cyl

    
cat['Engine Size(L)'] = cat.apply(lambda x: fill_es(x['Cylinders'], x['Engine Size(L)']), axis=1)
cat['Cylinders'] = cat.apply(lambda x: fill_cyl(x['Engine Size(L)'], x['Cylinders']), axis=1)

In [32]:
cat[['Engine Size(L)', 'Cylinders']].isnull().sum()

Engine Size(L)    0
Cylinders         0
dtype: int64

### Transmission
Encode every other categorical variable and see what is the variable that have the biggest correlation to Transmission (no high correlation). Just convert to 0 to the NaN values along with the other 'uspecified' and friends entry

In [33]:
cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137141 entries, 0 to 137140
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Make            137141 non-null  object
 1   Vehicle Class   137141 non-null  object
 2   Engine Size(L)  137141 non-null  float64
 3   Cylinders       137141 non-null  float64
 4   Transmission    134536 non-null  object
 5   Fuel Type       137141 non-null  object
dtypes: float64(2), object(4)
memory usage: 6.3+ MB

In [34]:
#Create list of unique value of each categories

unique_vclass = ['PICKUP TRUCK - STANDARD', 'SUBCOMPACT', 'SUV - SMALL',
        'MINICOMPACT', 'COMPACT', 'FULL-SIZE', 'SUV - STANDARD', 'MINIVAN',
        'STATION WAGON - SMALL', 'PICKUP TRUCK - SMALL',
        'TWO-SEATER', 'STATION WAGON - MID-SIZE', 'MID-SIZE',
        'SPECIAL PURPOSE VEHICLE', 'VAN - PASSENGER', 'VAN - CARGO']

unique_make = ['FOLD', 'CHEVO', 'BMV', 'KIO', 'BARUSU', 'LECUS', 'GONDA',
        'LAND CRAWLER', 'FOLKSWA', 'TOYOTI', 'JIPU', 'TOLVO', 'ASURA',
        'NIRRAN', 'FIAR', 'DOGE', 'CADILUXE', 'MATSUDA', 'MITSU',
        'RYUNDAI', 'LAMBOGI']

unique_ftype = ['X', 'E', 'Z', 'D', 'N']

unique_trans = ['A6', 'M6', 'AS6', 'AV7', 'AS8',
        'A9', 'AV', 'AV8', 'M5', 'A8', 'AV6', 'AS10',
        'AM7', 'A4', 'A5', 'AS7', 'AM6', 'AS5',
        'na', 'AS9', '-1', 'AM9', 'AV10', 'AM8', 'M7',
        'A10', 'A7']

cat.head()

,Make,Vehicle Class,Engine Size(L),Cylinders,Transmission,Fuel Type
0,FOLD,PICKUP TRUCK - STANDARD,3.5,6.0,A6,X
1,CHEVO,PICKUP TRUCK - STANDARD,5.3,8.0,A6,E
2,BMV,SUBCOMPACT,4.4,8.0,M6,Z
3,KIO,SUV - SMALL,2.0,4.0,AS6,X
4,BARUSU,MINICOMPACT,3.0,6.0,unspecified,Z

### Encode all the categorical features

In [35]:
def encode_categorical(input, list):
    if input in list:
        return float(list.index(input))
    else:
        return -1.0

In [36]:
cat['Vehicle Class'] = cat['Vehicle Class'].apply(lambda x: encode_categorical(x, unique_vclass))
cat['Fuel Type'] = cat['Fuel Type'].apply(lambda x: encode_categorical(x, unique_ftype))
cat['Make'] = cat['Make'].apply(lambda x: encode_categorical(x, unique_make))
cat['Transmission'] = cat['Transmission'].apply(lambda x: encode_categorical(x, unique_trans))

cat.head()

   Make  Vehicle Class  Engine Size(L)  Cylinders  Transmission  Fuel Type
0   0.0            0.0             3.5        6.0           0.0        0.0
1   1.0            0.0             5.3        8.0           0.0        1.0
2   2.0            1.0             4.4        8.0           1.0        2.0
3   3.0            2.0             2.0        4.0           2.0        0.0
4   4.0            3.0             3.0        6.0          -1.0        2.0

In [37]:
cat['Make'].nunique()

21